.Hangman {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "image letter-buttons"
    "image reset-button";
  color: black;
  text-align: center;
  /* zoom: 1.3; */
}

.Hangman-header {
  /* flex: 0 0 100%; */
  /* width: 100%; */
  grid-area: header;
}

.Hangman img {
  /* flex: 1; */
  grid-area: image;
  width: 200px;
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin: 50px;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-ltrContainer {
  /* flex: 1; */
  grid-area: letter-buttons;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-ltrBtns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  /* margin: 5px 2px 2px 2px; */
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding: 10px;
}

.Hangman button:hover {
  background-color: #ff9800;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}


.Hangman-restartBtn {
  grid-area: reset-button;
  margin: 20px auto;
  width: 100px;
  height: 50px;
}

.Hangman-msg-lose {
  width: 250px;
  height: 150px;
  margin: 50px;
  font-size: 2rem;
  font-weight: 900;
  animation: zoomerLose 1s infinite;
}

@keyframes zoomerLose {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: violet;
  }
}

.Hangman-msg-win {
  width: 250px;
  height: 150px;
  margin: 50px;
  font-size: 2rem;
  font-weight: 900;
  animation: zoomerWin 1s infinite;
}

@keyframes zoomerWin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: green;
  }
}