.Hangman {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "image          guesses"
    "image          guesses"
    "letter-buttons letter-buttons";
  color: black;
  text-align: center;
  padding: 1rem;
  padding-top: 20px;
}


.Hangman img {
  grid-area: image;
  width: 40vw;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.letter-buttons {
  grid-area: letter-buttons;
  display: flex;
  font-size: calc(2.3vw + 2.3vh + .5vmin);
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;

}


.Hangman-guessContainer {
  grid-area: guesses;
  width: 40vw;
  overflow: hidden;
}

.Hangman-guessesLeft {
  font-size: 3rem;
}

.Hangman-word {
  display: flex;
  justify-content: center;
  letter-spacing: 1.5rem;
  text-indent: 1.5rem;
  font-size: 5vw;
}


.AlphaButtons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.AlphaButtons button {
  margin: 10px 4px 4px 4px;
  font-size: calc(2.3vw + 2.3vh + .5vmin);
}

.Hangman button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.ltrBtn:hover {
  background-color: #ff9800;
}

.ltrBtn {
  color: black;
  padding: 0 1rem;
  background: #ffc107;
  box-shadow: 0 6px #ff9800;
}

.ltrBtn:disabled {
  background: #8b8b8b;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.ltrBtn:disabled:hover {
  background: #666666;
  cursor: not-allowed;
}

.Hangman-restartBtn {
  align-self: flex-end;
  padding: 1rem;
  bottom: 1rem;
  margin: 1rem;
  background: #e64f34;
  color: whitesmoke;
  box-shadow: 0 6px #e4381a;
  /* z-index: 1; */
}

.Hangman-restartBtn:hover {
  background-color: #e4381a;
}

.Hangman-msg-lose {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  font-weight: 900;
  animation: zoomerLose 1s infinite;
}

@keyframes zoomerLose {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
    color: violet;
  }
}

.Hangman-msg-win {
  flex: 1;
  width: 100%;
  font-size: 8rem;
  font-weight: 900;
  animation: zoomerWin 1s infinite;
}

@keyframes zoomerWin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
    color: green;
  }
}


@media (max-width: 940px) {
  .Hangman {
    grid-template-columns: 1fr;
    grid-template-rows:  172px 170px 1fr;
    grid-template-areas: 
      "image"
      "guesses"
      "letter-buttons";
    padding: 5px;
  }  
  .Hangman img {
    width: 290px;
    border: 5px solid white;
    margin: 10px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.27),
    0 0 20px rgba(0, 0, 0, 0.06) inset;
  }
  .Hangman-guessContainer {
    width: 100%;
  }
  .Hangman-guessesLeft {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
  }

  .Hangman-word {
    letter-spacing: 1rem;
    text-indent: 1rem;
  }

  .letter-buttons {
    flex-direction: column;
    justify-content: space-between;

  }

  .AlphaButtons button {
    margin: 5px 2px 2px 2px;
    font-size: calc(1.5vw + 1.5vh + .3vmin);
  }

  .ltrBtn {
    padding: 0.8rem;
  }

  .Hangman-restartBtn {
    padding: 0.5rem;
    justify-self: flex-end;
  }
  .Hangman-msg-lose {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Hangman-msg-win {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
